body {
    margin: 0;
}

header {
    height: 50px;
    background-color: orange;
    
}

.testa {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.logo img {
    height: 20px;
    width: 80px;
}