body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
    background-color: #ff6900;
    
}

.testa {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.logo img {
    height: 20px;
    width: 80px;
}

.corpo {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
}

.corpo img {
    height: 500px;
    width: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.discounted {
    font-weight: bold;
    color: red;
}

.original {
    text-decoration: line-through;
}

.fire-left {

  position: absolute;
  top: 18px;
  left: 317px;
  font-size: 1.5rem;
  background-color: white;
}

.fire-center {
    position: absolute;
  top: 18px;
  left: 681px;
  font-size: 1.5rem;
  background-color: white;
}

.fire-right {
    position: absolute;
  top: 18px;
  left: 1045px;
  font-size: 1.5rem;
  background-color: white;
}

.discount-left {
    position: absolute;
    top: 450px;
    color: white;
    background-color: red;
    font-weight: bold;
    width: 50px;
    text-align: center;
    font-size: 0.9rem;
}

.sustainability-left {
    position: absolute;
    top: 450px;
    left: 55px;
    color: white;
    background-color: green;
    font-weight: bold;
    width: 100px;
    text-align: center;
    font-size: 0.9rem;
}