body {
    margin: 0;
}

header {
    height: 50px;
    background-color: #ff6900;
    
}

.testa {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.logo img {
    height: 20px;
    width: 80px;
}

.corpo {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
}

.corpo img {
    height: 500px;
    width: auto;
}

.container {
    display: flex;
    justify-content: space-between;
}